<style>
  body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
</style>

<head>
  <title>Polygon Creator</title> 
</head>


<body>
<script src="ancore.js"></script>
<script src="pc.js"></script>

</body>